# Attention: This file might be overwritten.
# Instead just copy clone it to .env and adjust options in there.
# Alternatively set them as environment variables.

# Valid log levels: critical, error, warning, info, debug
LOG_LEVEL=info

MQTT_HOST=some.host
MQTT_PORT=8883
MQTT_CA_PATH=/path/to/ca/cert.pem
MQTT_USERNAME=myuser
MQTT_PASSWORD=secret
MQTT_TOPIC=some/topic

POLLY_VOICE_ID=Vicki
POLLY_ENGINE=neural
POLLY_OUTPUT_FORMAT=mp3

AWS_ACCESS_ID=some-id
AWS_ACCESS_SECRET=secret
AWS_REGION=eu-central-1

USE_REDIS=0
# MESSAGE_PREFIX_SOUND_FILE=./sounds/my-notification.mp3
